* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(#365050, #19114063);
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: whitesmoke;
    padding: 75px;
    
}

.highscore{
    font-size: 30px;
}

.timer {
    margin-top: 15px;
    font-size: 30px;
    color:orange;
}

h1 {
    display: flex;
    justify-content:center; 
    font-size: 40px;
}

.rule {
    display: flex;
    justify-content:center;
    font: 1.2em sans-serif;
    text-decoration: underline whitesmoke;
}

.start-btn {
  border: none;
  color: white;
  padding: 15px;
  text-align: center;
  text-decoration: none;

}

.start-btn .btn {
    width: 150px;
    height: 50px;
    border-radius: 25px;
}



footer {
    display: flex;
    justify-content: center;
    padding: 25px;
    width: auto;
}




/* .restart {
    border-radius: 25px;
    width: 150px;
    height: 50px;
    margin-top: 250px;
} */